.btn{
  border: none;
  padding: .5rem 1rem;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  
}

.btn-close{
  border: none;
  padding: .5rem 1rem;
  background-color: #f2f2f2;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  
}